<mat-dialog-content>
    <div class="flex flex-col flex-auto ">
        <div class="md:p-8">
          <div class="w-full">
            <form
            class="mt-8"
            [formGroup]="formulario"
            #signUpNgForm="ngForm">
    
            <!-- Name field -->
            <mat-form-field class="w-full">
                <mat-label>Rol</mat-label>
                <mat-select [formControlName]="'role'" >
    
                    <mat-option *ngFor="let rol of tiposUsuario" [value] = "rol">
                        {{rol}}
                      </mat-option>
                    </mat-select>
                <mat-error *ngIf="formulario.get('role').hasError('required')">
                    El rol es requerido
                </mat-error>             
            </mat-form-field>
    
            <!-- FatherLastname field -->
            <mat-form-field class="w-full" *ngIf="formulario.get('role').value === 'DOCTOR'">
                <mat-label>Especialidad</mat-label>
                <mat-select [formControlName]="'especialidad'">
                    <mat-option *ngFor="let especialidad of especialidades" [value]="especialidad._id">
                        {{especialidad.name}}
                      </mat-option>
                    </mat-select>
                <mat-error *ngIf="formulario.get('especialidad').hasError('required')">
                    La especialidad es requerido
                </mat-error>             
            </mat-form-field>
    
                
            <!-- Submit button -->
            <button
                class="fuse-mat-button-large w-full mt-6"
                mat-flat-button
                [color]="'primary'"
                [disabled]="formulario.invalid"
                (click)="actualizarUsuario()">
                <span >
                    Actualizar Usuario
                </span>
                <mat-progress-spinner
                    *ngIf="formulario.disabled"
                    [diameter]="24"
                    [mode]="'indeterminate'"></mat-progress-spinner>
            </button>
    
    
            <button
                class="fuse-mat-button-large w-full mt-6 bg-red-600"
                mat-flat-button            
                (click)="cerrarModal()"
                >
                <span class="text-white">
                    Cerrar
                </span>
                <mat-progress-spinner
                    *ngIf="formulario.disabled"
                    [diameter]="24"
                    [mode]="'indeterminate'"></mat-progress-spinner>
            </button>
    
        </form>
        </div>
        </div>
    </div>
    </mat-dialog-content>
    
    
    