<!-- Cards with media area -->

<div class="flex flex-col flex-auto ">
    <div class="md:p-8">
      <div class="w-3/4 ">
        <mat-card class="w-3/4 m-8" *ngFor="let citas of listaCitas">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title >{{citas.paciente.name}} {{citas.paciente.fatherLastname}} {{citas.paciente.motherLastname}}</mat-card-title>
                <mat-card-subtitle>{{citas.date | date:'short'}} </mat-card-subtitle>
                <button  [disabled]="citas.attended"
                mat-flat-button
                [ngClass]="{'fuse-mat-button-large mt-6 bg-slate-500': citas.attended, 'fuse-mat-button-large mt-6 bg-blue-400': !citas.attended}"
                (click)="verDetallesCita(citas)"
                >
                  Atender Cita
                </button>
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
                {{citas.note}}
            </mat-card-content>
        </mat-card>
        </div>
    </div>
</div>

