/* Estilo para el botón "Ir a Registrar Medicina" */
.registrar-medicina-button {
  background-color: #007bff; /* Color de fondo azul para el botón "Registrar Medicina" */
  color: #fff; /* Color de texto blanco */
  /* Agrega otros estilos según tus preferencias */
}

/* Estilo para el botón "Almacen de Medicinas" */
.almacen-medicinas-button {
  background-color: #28a745; /* Color de fondo verde para el botón "Almacen de Medicinas" */
  color: #fff; /* Color de texto blanco */
  /* Agrega otros estilos según tus preferencias */
}

/* Estilo para el botón "Salir" */
.salir-button {
  background-color: #343a40; /* Color de fondo gris oscuro para el botón "Salir" */
  color: #fff; /* Color de texto blanco */
  /* Agrega otros estilos según tus preferencias */
}
