<div class="w-full fixed inset-x-0 top-0 z-50 pt-10 px-10 bg-gray-300 h-screen">

    <button class=" w-full rounded-lg border-4 border-blue-500 py-5 text-2xl font-extrabold " routerLink="/home-nuevo"  (click)="handleButtonClick()">PÁGINA DE INICIO</button>


      <div class="flex flex-wrap justify-center pt-20 ">
        <div class="w-full sm:w-auto px-2 mb-10 sm:mb-0">
          <button class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-10 px-10 rounded"  routerLink="/conoce-mas">
            CONOCE MÁS
          </button>
        </div>
        <div class="w-full sm:w-auto px-2 mb-4 sm:mb-0">
          <button class="w-full bg-green-500 hover:bg-green-700 text-white font-bold py-10 px-10 rounded">
            INICIAR SESIÓN 
          </button>
        </div>
        <div class="w-full sm:w-auto px-2">
          <button class="w-full bg-red-500 hover:bg-red-700 text-white font-bold py-10 px-10 rounded">
             REGISTRARTE
          </button>
        </div>
      </div>

</div>
